/* Contenedor con ratio fijo para las imágenes */
.card-img-container {
    width: 100%;
    aspect-ratio: 4 / 3; /* Proporción de 4:3 */
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

/* Ajustar las imágenes para llenar el contenedor */
.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen llene el espacio sin deformarse */
    object-position: center; /* Centra la imagen */
}

/* Otros estilos de la tarjeta */
.card {
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#itemsInsertados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    margin-top: 20px;
    color: #4CAF50;
}
